.banner-img{
    background-image: url('../../asset/bannerImg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 97vh;
    width: 100%;
}
.overlay{
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #00000038, #00000002);
  opacity: 0.3;
}




@font-face {
    font-family: 'aeonik-regbold';
    src: url('../../asset/Font/Aeonik-/Aeonik-Regular.otf') format('opentype');
  }
@font-face {
    font-family: 'aeonik-reg';
    src: url('../../asset/Font/Aeonik-/Aeonik-Medium.otf') format('opentype');
  }
@font-face {
    font-family: 'aeonik-reg-bold';
    src: url('../../asset/Font/Aeonik-/Aeonik-Medium.otf') format('opentype');
    font-weight: bold;
  }



@font-face {
    font-family: 'aeonik';
    src: url('../../asset/Font/NewAeonik/AeonikTRIAL-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'aeonik';
    src: url('../../asset/Font/NewAeonik/AeonikTRIAL-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'aeonik';
    src: url('../../asset/Font/NewAeonik/AeonikTRIAL-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'aeonik';
    src: url('../../asset/Font/NewAeonik/AeonikTRIAL-LightItalic.otf') format('opentype');
    font-weight: lighter;
    font-style: italic;
  }

  @font-face {
    font-family: 'aeonik';
    src: url('../../asset/Font/NewAeonik/AeonikTRIAL-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'aeonik';
    src: url('../../asset/Font/NewAeonik/AeonikTRIAL-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
  }
